/* Custom Font */

/* Font Family */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');

p,body{
    color:#454545
    font-size:16px;
}

html {
  scroll-behavior: smooth;
}

a:hover{cursor:pointer}

/* .button */

.button, body{
  font-family: 'Source Sans Pro', sans-serif,calibri;
  font-weight: 400;
}

p, q{font-family: 'Source Serif Pro', serif;}

.font-family-header{font-family: 'Source Sans Pro', sans-serif,calibri}

.font-family-content{font-family: 'Source Serif Pro', serif;}

.button a{color:#fff}

.button, button{
  background-color: #0072BC;
  border: none;
  border-radius:4px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  margin: 4px 2px;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  min-width: 150px;
}

.button--disabled, button:disabled,.button--disabled:hover, button:disabled:hover{
  color:#929292;
  background:#d6d6d6;
}

.button--disabled:hover, button:disabled:hover{
  filter: brightness(100%);
  transform: translateY(0);
  cursor:not-allowed;
}

.button-secondary{
    background:#F5FAFA;
    color:#454545;
  }

.button:hover, button:hover {
  filter: brightness(120%);
  transform: translateY(-3px);
}

.button:active, .button:focus,button:active, button:focus {
  filter: brightness(90%);
  transform: translateY(2px);
}

.button--rounded{
  border-radius:36px;
}

/* JGS .button Background */

.button--success{background:#22B24C}

.button--danger{background: #FF5722}

.button--alert{background: #E9C056}

.button--dark,.button--outline:hover{background:#454545}

.button--secondary{
  background:#F1F1F1;
  color:#454545;
}

.button--secondary:hover{
  background:#F1F1F1;
  color:#454545;
}

.button--secondary:hover{filter: brightness(90%);}

.button--outline{
  background: none;
  border: 1px solid #454545;
  color:#454545;
}

.button--outline:hover{color:#fff}

.button--JGSGradient{
  background:linear-gradient(45deg, rgba(0,113,188,1) 0%, rgba(144,216,165,1) 100%)
}

.button--JGSGradient2{
   background:linear-gradient(45deg, rgba(33,139,236,1) 0%, rgba(44,188,146,1) 100%)
}

.button--Light,.button--outlineLight:hover{
  background:#fff;
  color:#454545;
}

.button--outlineLight{
  background: none;
  border: 1px solid #fff;
  color:#fff;}


.button--loading,.button--loading:hover{
  background:#E9C056;
}

.button--loading:hover{cursor:wait;}

.button .line {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #ffffff;
  margin: 0 3px;
}

/* Background */

/* JGS Gradient */

.background--jgsgradient{
   background:linear-gradient(45deg, rgba(0,113,188,1) 0%, rgba(144,216,165,1) 100%)
}

.background--jgsgradient2{
   background:linear-gradient(45deg, rgba(33,139,236,1) 0%, rgba(44,188,146,1) 100%)
}


/* JGS Blue */

.background--jgsBlue{background:#0767B1}

.background--jgsBlue2{background:#003C83}

.background--jgsBlue3{background:#0072BC}

.background--jgsBlue4{background:#218BEC}

.background--jgsBlue5{background:#E6F4F6}

.background--jgsBlue6{background:#F5FAFA}

/* JGS Green */

.background--jgsGreen{background:#22B24C}

.background--jgsGreen2{background:#195E52}

.background--jgsGreen3{background:#7CC543}

.background--jgsGreen4{background:#2CBC92}

.background--jgsGreen5{background:#CBFFDA}

/* Dark Background */

.background--dark{background:#454545}

.background--dark2{background:#575757}

.background--dark3{background:#676767}

.background--dark4{background:#929292}

.background--dark5{background:#d6d6d6}

.background--dark6{background:#A8A8A8}

.background--white{background:#fff}

/* System Background */

.background--danger{background:#FF5722}

.background--danger2{background:#FF9D66}

.background--alert{background:#E9C056}

.background--alert2{background:#F4E287}

/* Utility */

/* brightness */

.brightness--50{filter: brightness(.5);}

.brightness--75{filter: brightness(.75);}

/* Header */

h1,h2,h3,h4,h5,h6{font-weight:600}

h1{font-size:4.209em}

h2{font-size:3.157em}

h3{font-size:2.369em}

h4{font-size:1.777em}

h5{font-size:1.333em}

h6{font-size:1em}

/* Font Size */

.font-size8{font-size:8px}

.font-size12{font-size:12px}

.font-size14{font-size:14px}

.font-size16{font-size:16px}

.font-size18{font-size:18px}

.font-size24{font-size:24px}

.font-size28{font-size:28px}

.font-size32{font-size:32px}

.font-size36{font-size:36px}

.font-size48{font-size:48px}

.font-size56{font-size:56px}

.font-size60{font-size:60px}

.font-size72{font-size:72px}

.font-size90{font-size:90px}

.font-size120{font-size:120px}

/* Font Weight */

.font-weight300{font-weight: 300}

.font-weight400{font-weight: 400}

.font-weight600{font-weight: 600}

.font-weight700{font-weight: 700}

.font-weight900{font-weight: 900}

/* text color */

.text-white{color:#fff;}

.text-dark{color:#454545 !important}

.text-dark2{color:#575757}

.text-dark3{color:#676767}

.text-dark4{color:#929292}

.InlineBlock,.ColorPaletteBox{display: inline-block;}

/* Letter Spacing */

.LetterSpacing3{letter-spacing: 3px;}

.LetterSpacing2{letter-spacing: 2px;}

.LetterSpacing1{letter-spacing: 1px;}

/* Padding */

.Padding2{padding:2px}

.Padding5{padding:5px}

.Padding8{padding:8px}

.Padding10{padding:10px}

.Padding15{padding:15px}

.Padding22{padding:22px}

.Padding30{padding:30px}

.Padding40{padding:40px}

.Padding-Bottom5{padding-bottom:5px;}

.Padding-Side10{padding:0 10px}

.Padding-Side22{padding:0 22px}

/* Vertical-Align */

.Vertical-Align{vertical-align: middle;}

/* Text- Align */

.Text-Align--Center{text-align:center}

/* Article */

.article-content p::first-letter {
    font-size:32px;
    font-weight: 700;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-size: 18px;
    font-style: oblique;

}

q::before{
  font-size:28px;
  font-weight: 700;
  vertical-align: sub;
  content: open-quote;
  font-weight: 700;
}

q::after{
  font-size:28px;
  font-weight: 700;
  vertical-align: sub;
  content: close-quote;
  font-weight: 700;
}


/* Width */

.WidthHalf{width: 50%;}

.WidthFull{width: 100%;}

.Width25{width: 25%;}

.Height--Full{height: 100%}

/* Margin */

.MarginLeft15{margin-left:15px}

.ColorWhite,.background--dark p,.background--dark {color:#fff}

.ColorPaletteBox{
  width:120px;
  color:#fff;
  padding:8px;
  text-align: center;
  font-size:12px;
}
/* Navigation Nar */

.NavBar{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);

}

.Navbar-Link:hover{
  transform: translatey(2px);
  transition: all 0.5s ease;
  cursor: pointer;
  }

/* scss/jsExample/_clickme.scss */
.click {
  cursor: pointer;
  position: relative;
  left: 0;
  transition: left .25s;
  background: #ccf9bf;
  padding: 20px 40px;
  display: inline-block; }

.clickAnimate {
  left: 80%; }

  /* Animation */

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s alternate infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s alternate infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s alternate infinite;}


@keyframes loadingC {
    0 {transform: translate(0,4px);}
    50% {transform: translate(0,-4px);}
    100% {transform: translate(0,0px);}
}
