.button--success{background:#22B24C}

.button--dark,.button--outline:hover{background:#454545}

.button--outline{
  background: none;
  border: 1px solid #454545;
  color:#454545;
}

.button--outline:hover{color:#fff}

.button--JGSGradient2{
   background:linear-gradient(45deg, rgba(33,139,236,1) 0%, rgba(44,188,146,1) 100%)
}